<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex items-center justify-center text-4xl bg-blue-100">
    <h1>Services</h1>
    <p class="text-xxl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius nisi debitis numquam nulla voluptatum beatae minus, saepe assumenda iure illum aspernatur ex, dolor, dolores architecto amet ipsum ullam expedita qui dignissimos nemo odit. Veritatis?
    </p>
</body>
</html>